<div class="fixed-background"></div>
<div class="imports" *ngIf="imports">
    <div class="import" *ngFor="let import of imports">
        <div class="started">
            Import started at {{ import.StartedOn | date: 'shortTime' }}
        </div>
        <div class="progress">
            <p-progressBar
                [value]="import.Progress"
                showValue="false"
            ></p-progressBar>
        </div>
        <div class="numbers">
            <div class="total">{{ import.TotalEntries }}</div>
            <div class="succeeded">{{ import.Succeeded }}</div>
            <div class="failed">{{ import.Failed }}</div>
        </div>
        <div class="errormessage">{{ import.ErrorMessage }}</div>
    </div>
</div>
<p-toast></p-toast>
